<h1>Austin Kwok</h1>
<table>
	<thead>
		<tr>
			<th>Project Name</th>
			<th>Description</th>
			<th>URL</th>
		</tr>
	</thead>
	<tbody>
		<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
		 <% PROJECTS.each do |project,data| %> 
			<tr>
				<td><%= project %></td>
				<td><%= data['description'] %></td>
				<td><%= link_to data['url'], data['url'] %></a></td>
			</tr>
		<% end %>
	</tbody>
</table>

